#h1{
    padding-right: 100px;
    padding-left: 170px;
}

#h3 {
    padding-left: 100px;
}

#para {
    padding-right: 50px;
}

#img {
    width: 400px;
    height: auto;
    float: right;
    padding: 0 20px 20px 0;

}

.container {
    border-style: solid;
    border-color: lightgrey;
    height: 500px;
}

#top {
    margin-left: 40px;
    border-top-color: lightsteelblue;
    border-top-style: solid;
    width: 650px;
}
#bottom {
    margin-left: 40px;
    border-bottom-color: lightsteelblue;
    border-bottom-style: solid;
    width: 650px;
}

.italic {
    font-style: italic;
    padding-right: 70px;
    padding-left: 100px;
}


.error {
    color: red;
}